[user]
	email = john_schmidt@discovery.com
	name = John Schmidt
	signingkey = 4D20411A5145D9F7
[push]
	default = current
[color]
    ui = always
[alias]
	tree = log --oneline --decorate --all --graph
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

	co = checkout
	cod = checkout develop
	com = checkout master
	coa = checkout main
	cos = checkout staging

	bb = checkout -t -b
	br = branch

	s = status
	st = status
	sts = status -s
	ss = status -s

	mf = merge --no-ff

	adl = add -A

	ci = commit -S
	cim = commit -S -m
	cia = commit -S -a
	ciam = commit -S -a -m
	caim = commit -S -a -m
	cima = commit -S --amend -m

    pushb = push -u origin HEAD
    psuh = push

	dh = diff HEAD

	ignore = !nvim .git/info/exclude
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"

[url "git@github.com:"]
	insteadOf = "https://github.com/"
[url "git@github.com"]
	insteadOf = "gh"


[core]
	excludesfile = /Users/jschmidt/.gitignore
	pager = delta
[hub]
	host = github.discovery.com
[pull]
	ff = only
[merge]
	tool = nvimdiff
	conflictstyle = zdiff3
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /Users/jschmidt/neo-event-bus-monitor-deploy
[commit]
	verbose = true
