/*@import "./mocha.css";*/

@define-color button_background_color #3B3355;
@define-color colb #000505;
@define-color button_text_color #BFCDE0;
@define-color normal_text_color #FFF3B0;
@define-color button_hover_color #11111B;
@define-color col_urgent #D86127;

@define-color right_background_color #1B2335;
@define-color right_text_color #DFD3D0;

* {
    /* Default text: creme color */
    /*color: @normal_text_color;*/
    border: none;
    border-radius: 0px;
    /*font-family: scientifica;*/
    font-family: scientifica, JetBrainsMono Nerd Font Mono;
    font-size: 24px;
    min-height: 0;
}

window#waybar {
    background: rgba(17,17,27,1);
    color: @normal_text_color;
    /*font-size: 18px;*/
}

#workspaces {
    /*background: #132C37;*/
    margin: 2px 5px;
    padding: 2px 5px;
    border-radius: 16px;
}
#workspaces button {
    /*font-family: scientifica;*/
    /*font-weight: normal;*/
    background: @button_background_color;
    /*color: #FEFCFD;*/
    color: #FFFFFF;
    font-size: 24px;
    padding: 4px 15px;
    margin: 0px 3px;
    border-radius: 16px;
    /*background: rgba(17,17,27,1);*/
    /*transition: all 0.3s ease-in-out;*/
}

#workspaces button.empty {
    color: #888888;
}

#workspaces button.focused {
    color: #00FF00;
}

#workspaces button.urgent {
    color: @colb;
    background: @col_urgent;
}

/*#workspaces button.persistent {*/
    /*color: #00FFFF;*/
/*}*/

#workspaces button.active {
    color: @colb;
    /*border-radius: 16px;*/
    background: @button_text_color;
}

#workspaces button:hover {
    background-color: @normal_text_color;
    color: @button_hover_color;
}

#tray, #pulseaudio, #network, #battery, #temperature, #memory, #cpu, #clock,
#custom-playerctl.backward, #custom-playerctl.play, #custom-playerctl.foward{
    /*font-family: Jet Brains Mono Nerd Font;*/
    /*font-weight: bold;*/
    background: @right_background_color;
    color: @right_text_color;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 7px;
}

#clock {
    /*font-family: scientifica;*/
    /*font-weight: bold;*/
    /*font-size: 20px;*/
}

#window{
    /*color: #f5f5f5;*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
}
